---
---

$headerHeight: 150px

body 
    display: block
    background-color: #fafafa
    margin: auto
    max-width: 700px
    margin-top: 20px
    color: #191919

header
    display: flex
    min-height: $headerHeight
    flex-wrap: wrap

#logo 
    display: block
    width: $headerHeight
    height: $headerHeight
    // background-color: #5ff5f0
    float: left

.article
    // display: block
    margin-top: 50px
    // background-color: #1000FA

#links 
    display: flex
    flex-wrap: wrap
    height: 100%
    align-content: space-around
    align-self: center

    a 
        text-decoration: none
        display: block
        margin-left: 40px
        // margin-right: 20px
        align-self: center
        font-family: 'PT Mono', monospace
        font-size: 21px
        text-align: center
        color: #191919
    //  margin-bottom: auto
    //  margin-top: auto
    
    a:hover 
        color: #bcbcbc 

h1 
    font-family: 'PT x', monospace
    font-weight: bold
    font-size: 28px

p
    font-family: 'PT Serif', serif



@media screen and (max-width: 650px) 
    header
        justify-content: center
    #links
        justify-content: center
        a
            width: 100%
            margin-top: 15px
            margin-left: 0px
            margin-right: 0px
    .article
        margin-top: 30px

@media screen and (max-width: 742px) 
    body
        margin-left: 21px
        margin-right: 21px
